@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/header.css" />
    <link rel="stylesheet" type="text/css" href="~/css/advert_page/css/advert_page.css" />
    <title>NE LAGAET CHESTNO</title>
</head>

<body>
    <header>
        <a class="title">NE LAGAET CHESTNO</a>
    </header>
    <div class="middle ">
        <div class="advert">
            <div class="advert_title">
                <p>МЕНЯЮ: Redmi 7 НА: Redmi k20 Pro </p>
            </div>
            <div class="advert_description">
                <p>ОС: Andoid, прошивка: MIUI 11, матрица: IPS, ёмкость батареи: 4500 mAh, мощность зарядки: 10 В, ОЗУ: 3 GB, ПЗУ: 32 GB, NFC: нет, цвет: Чёрно-Красный</p>
                <p>Время пользования: 1 год</p>
                <button id="response">Вернуться к объявлениям</button>
            </div>
        </div>
    </div>
</body>

</html>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
