@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/info_page/css/info_page.css" />
<header>
    <a class="title" asp-controller="Home" asp-action="Advertisements_Page">NE LAGAET CHESTNO</a>
</header>
<div class="middle ">
    <div class="message">
        <img src="~/css/info_page/icons/smiled.svg">
        <p class="text">Ваше объявление принято!</p>
        <button id="back_to_adverts">@Html.ActionLink("Вернуться к объявлениям", "Advertisements_Page")</button>
    </div>
</div>