@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" tyae="text/css" href="~/css/style.css" />
    <link rel="stylesheet" tyae="text/css" href="~/css/header.css" />
    <link rel="stylesheet" tyae="text/css" href="~/css/create_advert/css/create_advert.css" />
    <title>NE LAGAET CHESTNO</title>
</head>

<body>
    <header>
        <a class="title">NE LAGAET CHESTNO</a>
    </header>
    <div class="middle ">
        <p class="instruction">Заполните все поля и нажмите ОПУБЛИКОВАТЬ</p>
        <div class="contact_form">
            <div class="_title">
                <p>Контакты</p>
            </div>
            <div class="_description">
                <input id="website" type="text" placeholder="Социальня сеть">
                <input id="name" type="text" placeholder="Имя/id/nick">
                <input id="city" type="text" placeholder="Город">
            </div>
        </div>
        <div class="characteristics_form">
            <div class="_title">
                <p>Характеристики вашего устройства</p>
            </div>
            <div class="_description">
                <input class="col1" id="brand" type="text" placeholder="Производитель">
                <input class="col2" id="model" type="text" placeholder="Модель">
                <input class="col1" id="os" type="text" placeholder="ОС">
                <input class="col2" id="firmware" type="text" placeholder="Прошивка">
                <input class="col1" id="display" type="text" placeholder="Тип дисплея">
                <input class="col2" id="color" type="text" placeholder="Цвет">
                <input class="col1" id="battery_capacity" type="number" placeholder="Ёмкость батареи">
                <input class="col2" id="charge_power" type="number" placeholder="Мощномть зарядка">
                <input class="col1" id="ram" type="number" placeholder="Объём ОЗУ">
                <input class="col2" id="rom" type="number" placeholder="Объём ПЗУ">
            </div>
        </div>
        <div class="addit_info_form">
            <div class="_title">
                <p>Доп Инфа</p>
            </div>
            <div class="_description">
                <textarea id="replacement_phone" type="text" placeholder="На какое устройство вы хотите обменяться"></textarea>
                <textarea id="other" type="text" placeholder="Прочее: не обязательно для заполнения"></textarea>
            </div>
        </div>
        <div class="final_form">
            <div class="_title">
                <p>Финальный штрих</p>
            </div>
            <div class="_description">
                <input id="time_of_use" type="number" placeholder="Время пользования (месяцы)">
                <button id="create">ОПУБЛИКОВАТЬ</button>
            </div>
        </div>
    </div>
</body>

</html>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
