.middle {
    background: linear-gradient(to top, #0C056D, #B61AAE);
    border: 4px solid #F25D9C;
    margin: 0 200px 0 200px;
    padding: 30px 50px 30px 50px;
    margin-bottom: 100px;
    border-radius: 20px;
}


/**/

.adverts {
    position: relative;
}

.advert_title {
    background-color: #F25D9C;
    border-radius: 20px 20px 0 0;
    padding: 10px 20px 5px 20px;
    color: #0C056D;
    font-size: 22px;
}

.advert_description {
    position: relative;
    background-color: #0C056D;
    border-radius: 0 0 20px 20px;
    border: 2px solid #F25D9C;
    padding: 10px 20px 10px 20px;
    color: #F25D9C;
    font-size: 22px;
}

#response {
    position: absolute;
    right: 20px;
    bottom: 10px;
}